<div class="aspect">
	<div></div>
	<div>
	<iframe src="//player.vimeo.com/video/{{ vid }}?title=0&byline=0&portrait=0&color=f2a2c0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>