<div style="padding:0 10px 10px 0;">
    <div class="box login-form">
        <p>{{ title }} {#{{'Enter the e-mail address of your account. You will receive an e-mail with further instructions.' | trans }}#}</p>
        <form id="reset" name="resetForm" ng-submit="submitResetForm(resetForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : resetForm.email.$invalid && !resetForm.email.$pristine }">
                <label>
					<span ng-bind="$root.translate('E-mail address')"></span>
                    <input type="email" ng-model="user.email" required="true" autocomplete="off" size="25" name="email" />
                    {# <p ng-show="resetForm.email.$invalid && !resetForm.email.$pristine"><span ng-bind="$root.translate('Enter a valid e-mail address.')"></span></p> #}
                </label>
            </div>

            <label>
                <span> </span>
				<button ng-click="submit()" class="resetpassword">
					<span ng-bind="$root.translate('Send')"></span>
				</button>

            </label>
        </form>
    </div>
</div>
<div class="clear"></div>