<div id="loggedin">
        <div id="social-login">
            <a colorboxproviders title="{{ 'your logins' | trans }}">{{ 'your logins' | trans }}</a>
        </div>
        <div id="edit-profile">
            <a ng-click="ui.active='profile';$event.stopPropagation()" title="{{ 'edit profile' | trans }}">{{ 'edit profile' | trans }}</a>
        </div>
    </div>

<div class="clear"></div>
