<div ng-controller="pagingCtrl">
    <div ng-show='numberOfPages > 1' class="page-btns">
		<button class="save_changes"  ng-disabled="currentPage >= nrItems / pageSize - 1" ng-click="currentPage=currentPage+1">
			<span ng-bind="$root.translate('Next')"></span>
		</button>

		<button class="save_changes" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" style="margin:0">
			<span ng-bind="$root.translate('Previous')"></span>
		</button>

			{#<p><span class="paging">{[{currentPage+1}]}/{[{numberOfPages}]}</span></p>#}
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<ul class="pager" ng-show='numberOfPages > 1'>
		<li ng-repeat="i in range(numberOfPages) track by $index" ng-class="{disabled:currentPage == $index}" ng-disabled="currentPage == $index" ng-click="toPage($index)">
			{[{$index + 1}]}
		</li>
	</ul>
</div>