<div class="aspect" style="padding: 0px; margin: 0px;">
	<iframe 
        style="width: 920px; height: 520px;"
        src="//player.vimeo.com/video/{{ vid }}?title=0&byline=0&portrait=0&color=f2a2c0&autoplay=true" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>