{% block content %}

<div class="toolbar">

    <ul class="nav nav-pills">
        <li><a href="/admin/csv/listAllNewsletter">Alle nieuwsbriefaanmeldingen</a></li>
		<li><a href="/admin/csv/listNewFunctions">E-mail adressen voor: nieuwe functies en updates</a></li>
		<li><a href="/admin/csv/listTips">E-mail adressen voor: tips </a></li>
		<li><a href="/admin/csv/listAll">Alle accounts</a></li>
		<li><a href="/admin/csv/listAllPages">Alle pagina's</a></li>
    </ul>

</div>


<div class="clear"></div>

{% endblock %}
